*{
    margin: 0;
    padding: 0;
}

body{
    background-color: #f2f6ff;
    font-family: 'Raleway', sans-serif;
    font-style: italic;
}



header{
    width: 100%;
    padding: 16px 78px;
    background-color: #fff;
    z-index: 99;
    position: fixed;
    box-shadow: 0 1px 1px #ccc;
    top: 0;
    left: 0;
}

a.logo{
    text-decoration: none;
}

.logo-container {
    display: flex;
}

.logo h3{
    background-image: linear-gradient(269deg, #0048ff, #0096ff),linear-gradient(#000, #000);
    font-size: 32px;
    margin: 0px;
    font-weight: 1000;
    color: #0084ff;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.logo p{
    color: #000;
    font-size: 18px;
    margin: 0px;
    font-weight: 500;
    font-style: italic;
}

.dropdown{
    display: flex;
    justify-content: left;
    align-items: center;
    position: relative;
}

.dropdown i {
    cursor: pointer;
    padding-top: 0px;
    padding-left: 8px;
}

.dropdown-text {
    cursor: pointer;
    color: #000;
    font-size: 16px;
    border: none;
    background-color: #fff;
    padding-left: 60px;
}

.dropdown-content {
    visibility: hidden;
    position: absolute;
    top: 60px;
    left: 60px;
    left: 60px;
    background-color: #fff;
    min-width: 250px;
    overflow-y: auto;
    overflow-x: hidden;
    box-shadow: 0 1px 8px rgba(0, 0, 0, 0.5);
    border-radius: 4px;
    z-index: 1;
    opacity: 0;
    transition: all 0.15s ease-in-out;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown-content a:hover {
    background-color: #ddd;
  }
  
  .dropdown:hover .dropdown-content {
    visibility: visible;
    opacity: 1;
  }



  main {
    padding-top: 120px;
  }

  .trending-post-container {
    width: 80%;
    margin: auto;
  }
  
  .heading {
    color: #000;
    margin: 0;
    font-size: 36px;
    font-weight: 600;
  }
  
  .categories-container {
    margin-bottom: 20px;
    font-size: 16px;
    padding-top: 16px;
  }
  
  .filter-text {
    font-size: 14px;
    font-weight: 600;
    margin-left: 8px;
  }
  
  .categories-list {
    margin-top: 10px;
  }
  
  .category-item {
    text-decoration: none;
    font-size: 14px;
    display: inline-block;
    color: #0084ff;
    padding: 6px 14px;
    width: auto;
    border: 1px solid #0084ff;
    margin: 5px;
    border-radius: 15px;
    transition: all 0.2s ease-in-out;
  }

  .category-item:hover {
    background-color: #0084ff;
    color: #fff;
  }


a {
    color: #000;
    text-decoration: none;
}
  
.card-wrapper {
    width: 100%;
    margin: auto;
}
  
#card-data {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.card-container {
    display: inline-block;
    cursor: pointer;
    overflow: hidden;
    width: calc(360px - 3px);
    height: 400px;
    margin-left: 1%;
    margin-right: 1%;
    margin-bottom: 20px;
    background: #fff;
    border-radius: 5px;
    box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.1);
    border: 1px solid rgba(0, 168, 255, 0.3);
}
  
.card-content {
    padding: 16px 24px;
}
  
.card-img {
    width: 100%;
    height: 176px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
  
.auth-wrapper {
    margin-top: 12px;
    margin-bottom: 12px;
}
  
.card-author {
    color: #0096ff;
    font-size: 14px;
    font-style: Italic;
    font-weight: 500;
}
  
.card-date {
    color: rgba(0, 0, 0, 0.7);
    font-size: 14px;
    font-weight: 300;
}
  
.card-title {
    font-size: 18px;
    text-align: left;
    font-weight: 600;
    margin: 0;
 }
  
.card-desc {
    font-size: 14px;
    font-weight: 400;
    line-height: 1.43;
    color: rgba(0, 0, 0, 0.6);
    margin: 4px 0;
}

footer {
  background-color: #172146;
  padding: 80px 16%;
}
